* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.main-header {
    display: flex;
    margin: 0px 10%;
}

.main-header p {
    margin: 0px;
}

.main-header__title {
    width: 31%;
    justify-content: center;
    align-items: center
}

.main-header__title > a {
    font: 40px 'Indie Flower', cursive;
    color: black;
    text-decoration: none;
}

.main-header__shipping {
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center
}

.main-header__shipping a {
    color: #ae4243;
    text-decoration: none;
}

.main-header__contact {
    width: 23%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.main-header__user {
    width: 23%;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.main-header__user--login {
    background-image: url(icons.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    background-size: 872px 44px;
    background-position: -173px 0;
    margin-right: 5%;
}

.main-header__user--cart {
    background-image: url(icons.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    background-size: 872px 44px;
    background-position: -201px 0;
}

.header-nav {
    margin: 0px 10%;
}

.header-nav__ul {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 10px 0px;
}

.header-nav__li {
    display: inline-block;
    text-decoration: none;
}

.header-nav__li a {
    color: #404040;
    text-decoration: none;
}

.header-nav__li a:hover {
    color: #707072;
    text-decoration: none;
}

.header-search-section {
    display: block;
    border-top: 1px solid #ddd;
    width: 100%;
    background: #f1f1f1;
    text-align: left
}

.search-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 0;
    margin: 0px 10%;
}

.header-search-input {
    height: 36px;
    margin-top: 7px;
    width: 54%;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 0 38px 0 15px;
    color: #333;
    font-size: 18px;
    font-family: Verlag,Helvetica,Arial,sans-serif;
}



/* .catalog-section {
    height: 100%;
    width: 46%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.header-sale {
    width: 40%;
    text-align: center;
    color: #ae4243;
    text-decoration: none;
}

.header-catalog {
    width: 6%;
    text-align: right;
    color: black;
    text-decoration: none;
}